body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    position: relative;
}

h1 {
    margin: 0;
    padding: 2em;
    font-size: 2em;
    color: #0e0b0b;
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#joke-text {
    font-family: 'Roboto Slab', serif;
    font-size: 1.0vw;
    color: #020202;
    margin-bottom: 7px;
}

#joke-button {
    font-family: 'Roboto Slab', serif;
    font-size: 0.8em;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.bg_video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    z-index: -100;
}

.balao {
    
    display: inline-block;
    padding: 12%;
    background-color: white;
    border: 2px;
    left: 10%;
    top: 5%;
    border-radius: 50%;
    margin-bottom: 100%;
    position: relative;
    max-width: 250px;
    height: 150px; 
}

.balao::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 11%;
    top: 11%;
    background-color: white;
    border: 2px;
    border-color: transparent blue blue transparent;
    transform: rotate(90deg);
}